body, html {
    font-size: small;
}

div#viewport {
    position: absolute;
    top: 0;
    width: 100%;
}


.jhp {
    background: blue none repeat scroll 0 0;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50px;
    width: 50px;
}
